<html>
 <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
 <table id="samples" class="table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Name</th>
        <th class="th-sm">Age</th>
        <th class="th-sm">Address</th>
        <th class="th-sm">Phone</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
 </table>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function () {
    $("#samples").DataTable({
        serverSide: true,
        processing: true,
        pageLength: 20,
        paging: true,
        ordering: true,
        searchable: true,
        pagingType: "full_numbers",
        columns: [
            {"data": "name", "bSortable": true, "title": "Name"},
            {"data": "age", "bSortable": true, "title": "Age"},
            {"data": "address", "bSortable": true, "title": "Address"},
            {"data": "phone", "bSortable": true, "title": "Phone"},
        ],
        columnDefs: [{
            title: 'Name',
            name: 'name_0',
            data: 'name',
            targets: [0],
            render: function (data) {
                return "<a href='/user/" + data + "/'>" + data + "</a>";
            }
        },],
        ajax: function (data, callback) {
            var param = {};
            param.draw = data.draw;
            param.start = data.start;
            param.length = data.length;
            param.search = data.search.value;
            param.page = param.start / param.length + 1;
            if(data.order) {
                param.order = data.order[0]['dir'] + ' ' + data.order[0]['column'];
            }else{
                param.order = '';
            }
            $.ajax({
                type: "POST",
                url: "{{ url_for('dt') }}",
                data: {data: JSON.stringify(param)},
                success: function (res) {
                    var returnData = {};
                    returnData.draw = res.draw;
                    returnData.recordsTotal = res.recordsTotal;
                    returnData.recordsFiltered = res.recordsFiltered;
                    returnData.data = res.data;
                    callback(returnData);
                },
                error: function () {
                    console.log('error');
                }
            });
        }
    });
  });
</script>
